@model CraftBook.Models.UserRecipe

@{
    ViewData["Title"] = "Create";
}

<article class="recipe-creator">
    <form class="col">
        <section>
            <section>
                <div class="name col">
                    <h4>Что будем готовить?</h4>
                    <input type="text" id ="Name" name="name" required />
                </div>
                <div class="col">
                    <h4>Время приготовления</h4>
                    <div class="time">
                        <div class="col">
                            <h5>Дни</h5>
                            <input type="number" name="days" value="0" required />
                        </div>
                        <div class="col">
                            <h5>Часы</h5>
                            <input type="number" name="hours" value="0" required />
                        </div>
                        <div class="col">
                            <h5>Минуты</h5>
                            <input type="number" name="minutes" required />
                        </div>
                    </div>
                </div>
            </section>
            <section class="avatar col">
                <h4>Как будет выглядеть?</h4>
                <div class="col">
                    <input asp-for="Image" required placeholder="Введите url или бросьте сюда картинку"/>
                    <input type="file" name="photo" accept="image/*">
                    <img src="/images/logo.png" id="ImageOut" class="recipe-avatar" />
                </div>
            </section>
        </section>
        <section class="descriprion col">
            <h4>Придумайте описание рецепта</h4>
            <textarea asp-for="Description" required rows="3"></textarea>
        </section>
        <section class="instruction col">
            <h4>Ход работы</h4>
            <textarea asp-for="Instruction" required rows="12"></textarea>
        </section>
        <section>
            <input type="submit" value="Создать рецепт" />
        </section>
    </form>
</article>

@section Scripts {
    <environment include="Development">
        <script src="~/js/createRecipe.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/createRecipe.js" asp-append-version="true"></script>
    </environment>
}
