@model CraftBook.Models.UserRecipe

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Recipe</h4>
<hr />
<article class="recipe-creator">
    <form>
        <section>
            <section>
                <fieldset name="name">
                    <legend>Что будем готовить?</legend>
                    <input type="text" name="name" required />
                </fieldset>
                <fieldset name="time">
                    <legend>Время приготовления</legend>
                    <div class="col">
                        <h5>Дни</h5>
                        <input type="number" name="days" value="0" required />
                    </div>
                    <div class="col">
                        <h5>Часы</h5>
                        <input type="number" name="hours" value="0" required />
                    </div>
                    <div class="col">
                        <h5>Минуты</h5>
                        <input type="number" name="minutes" required />
                    </div>
                </fieldset>
            </section>
            <section>
                <fieldset name="avatar">
                    <legend>Как будет выглядеть?</legend>
                    <input asp-for="Image" class="form-control" required />
                    <img src="/images/logo.png" id="ImageOut" class="recipe-avatar" />
                </fieldset>
            </section>
        </section>
        <section>
            <fieldset name="descriprion">
                <legend>Придумайте описание рецепта</legend>
                <textarea asp-for="Description" class="form-control" required></textarea>
            </fieldset>
        </section>
        <section>
            <fieldset name="descriprion">
                <legend>Ход работы</legend>
                <textarea asp-for="Instruction" class="form-control" required></textarea>
            </fieldset>
        </section>
        <input type="submit" value="Create" class="btn btn-default" />
    </form>
</article>

@section Scripts {
    <environment include="Development">
        <script src="~/js/createRecipe.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/createRecipe.js" asp-append-version="true"></script>
    </environment>
}
