@using Microsoft.CodeAnalysis.CSharp.Syntax
@model CraftBook.Models.UserRecipesPage

@{
    ViewData["Title"] = "Index";
}
<header>
    <h2>
        @Html.DisplayFor(modelItem => Model.Title)
        <a asp-action="Create"><img src="images/add.svg" alt="+" /></a>
    </h2>

</header>
@foreach (var item in Model.Recipes)
{
    <section>
        @Html.Partial("_Preview", item)
    </section>
}
    <section class="nav">

        <nav>
            @for (int i = Math.Max(1, Model.PageNumber - 3); i <= Math.Min(Model.PageNumber + 3, Model.PageCount); i++)
            {
                if (i != Model.PageNumber)
                {
                    <span class="page">@i</span>
                }
                else
                {
                    <span class="page" id="currentPage">@i</span>
                }

            }
            <!--@Html.DisplayFor(modelItem => Model.PageNumber)/@Html.DisplayFor(modelItem => Model.PageCount)-->
        </nav>

    </section>