@using Microsoft.CodeAnalysis.CSharp.Syntax
@model CraftBook.Models.UserRecipes

@{
    ViewData["Title"] = "Index";
}
<section>
    <h2>
        @Html.DisplayFor(modelItem => Model.Title)
</h2>
<a asp-action="Create">Create New</a>
</section>
@foreach (var item in Model.Recipes)
{
    <section>
        @Html.Partial("_Preview", item)
    </section>
}
    <section class="nav">

        <nav>
            @for (int i = Math.Max(1, Model.PageNumber - 3); i <= Math.Min(Model.PageNumber + 3, Model.PageCount + 1); i++)
            {
                if (i != Model.PageNumber)
                {
                    <span class="page">@i</span>
                }
                else
                {
                    <span class="page" id="currentPage">@i</span>
                }

            }
            <!--@Html.DisplayFor(modelItem => Model.PageNumber)/@Html.DisplayFor(modelItem => Model.PageCount)-->
        </nav>

    </section>