@model CraftBook.Models.UserRecipes

@{
    ViewData["Title"] = "Index";
}
<section>
    <h2>@Html.DisplayFor(modelItem => Model.Title)
    </h2>
    <a asp-action="Create">Create New</a>
</section>
@foreach (var item in Model.Recipes)
{
<section>
    @Html.Partial("_Preview", item)
</section>
}
<section><nav>
    @Html.DisplayFor(modelItem => Model.PageNumber)/@Html.DisplayFor(modelItem => Model.PageCount)
</nav></section>