/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*Адское зануление*/
body { margin: 0; }

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

body > header, body > footer {
    background: #1e6cdb;
    color: #0ed9ac;
    height: 3.5em;
    text-shadow: 1px 1px 2px black, 0 0 1em #2470df;
}

body > article { display: flex; }

body > article section:nth-child(even) { flex: 3; }

body > article section:nth-child(odd) {
    flex: 1;
    background-color: #e2e6ef;
}