/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*Адское зануление*/
body {
    margin: 0;
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body > header {
    background: blue;
    color: aqua;
    height: 3.5em;
}

body > article {
    display: flex;
}

footer{
    background-color: blueviolet;
    position: absolute;
}

footer:hover {
    background-color: green;

}