@model CraftBook.Models.IngredientQuantity


<div class="fieldform">
    <div class="in-frame">
        <input type="text" name="ingredient_name" value="@Model.Ingredient.Name" readonly />
        <input type="number" name="ingredient_count" value="@Model.Volume" readonly />
        <input type="text" value="@Model.Ingredient.Unit.ShortName" readonly />
    </div>
    <input type="image" name="del_ingredient" src="/images/close.svg" />
</div>