@import 'vars/_mixins.scss';
@import 'vars/_palette.scss';

article.inventory {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: $color-content-background;
    color: $color-content-text;

    & > form {
        border-bottom: 1px solid $color-line;
        //ингредиент
        &.list-ingredients input {
            &:not([type="image"]) {
                background-color: $color-content-background;
                color: $color-content-text;
                font-weight:500;
                font-variant:small-caps;
            }
        }
    }
}
