@import 'vars/_mixins.scss';
@import 'vars/_palette.scss';

article.inventory {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    & > header, & > form {
        @include line-spacing;
    }

    & > form {
        &.add-ingredient {
            input[type="image"] {
                max-height: $size-h3 * 0.9;
                //max-width: $size-h3 * 0.9;
                padding-left: (25px-$size-h3*0.8)/2;
                padding-right: (25px-$size-h3*0.8)/2;
            }
        }
        //ингредиент
        &.list-ingredients * {
            color: $color-content-text;
            border: 0;
            font-size: $size-h3;
            font-weight: lighter;

            &::first-letter {
                text-transform: uppercase;
            }

            &.volume {
                text-align: right;
            }

            &[type="image"] {
                max-height: $size-h3 * 0.8;
            }
        }
    }
}
