@import 'vars/_mixins.scss';
@import 'vars/_palette.scss';

article.recipe_list {
    display: flex;
    flex-direction: column;

    & > header {
        img {
            height: $size-h2/2;
        }
    }

    & > section {
        @include line-spacing;
    }


    a {
        text-decoration: none;
        color: inherit;
    }

    .nav {
        margin-top: 16px;
        text-align: center;

        & > nav {
            display: inline-block;

            & > span {
                $span-border-width: 1px;
                margin-left: -$span-border-width;
                border: $span-border-width solid $color-border;
                float: left;
                padding: 8px 12px;


                &.page {
                    color: $color-content-text; //$secondary-text-color;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-content-background;
                    }
                }

                &#currentPage {
                    background-color: $color-button-background;
                    color: $color-button-text;
                    cursor: default;
                }
            }
        }
    }
}



article.recipe-preview {
    background-color: $color-content-background;
    color: $color-content-text;
    display: flex;
    @include rounding;
    $height: 128px;
    height: $height;
    border-bottom: 4px solid green;


    & > section:first-child {
        border-radius: 5px 0 0 5px;
        background-color: $primary-color-light*0.9;
        width:33%;
        & div {
            height: 100%;
            //width: 16/9*$height;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }

    & > section:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 16px 16px 16px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 8px;

        & > section, header {
            display: flex;

            img {
                height: 32px;
            }

            i {
                inline-size: max-content;
                padding-right: 4px;

                &:not(:last-of-type):not(:first-of-type)::after {
                    content: ","
                }
            }
        }

        & > header {
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}

article.recipe-creator {
    //Для отладки
    form {
        * {
            input {
                border: 1px dashed black;
            }
        }
    }
}

article.recipe-view {
    div.recipe-avatar {
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        @include rounding;
    }

    & > section, header {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
            @include line-spacing;
        }

        & > section.time {
            display:flex;
            align-items: center;
            justify-content:center;
            width: 50%;
            img {
                height: $size-h3;
            }
            &>* {
                margin-right:4px;
            }
            
        }

        &.instruction {
            img {
                max-height: 50%;
                max-width: 50%;
                display: block;
                margin: 10px auto;
                border: 4px $color-border solid;
                @include rounding;
            }
        }
    }
}
