@import 'vars/_mixins.scss';
@import 'vars/_palette.scss';
@import 'vars/sizes.scss';

article.recipe_list {
    @include flex;
    flex-direction: column;

    & > header {
        img {
            height: $size-h2/2;
        }
    }

    & > section {
        @include line-spacing;
    }


    a {
        text-decoration: none;
        color: inherit;
    }

    .nav {
        margin-top: 16px;
        text-align: center;

        & > nav {
            display: inline-block;

            & > span {
                $span-border-width: 1px;
                margin-left: -$span-border-width;
                border: $span-border-width solid $color-border;
                float: left;
                padding: 8px 12px;


                &.page {
                    color: $color-content-text; //$secondary-text-color;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-content-background;
                    }
                }

                &#currentPage {
                    background-color: $color-button-background;
                    color: $color-button-text;
                    cursor: default;
                }
            }
        }
    }
}



article.recipe-preview {
    background-color: $color-content-background;
    color: $color-content-text;
    @include flex;
    @include rounding;
    $height: 160px;
    height: $height;
    border-bottom: 4px solid green;

    @media (max-width: $size-media-mobile2) {
        flex-direction: column;
        height: 200px;
    }

    & > section:first-child {
        border-radius: 5px 0 0 5px;
        background-color: $primary-color-light*0.9;
        width: 33%;

        @media (max-width: $size-media-mobile2) {
            width: auto;
            height: 100px;
        }

        & div {
            height: 100%;
            //width: 16/9*$height;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }

    & > section:nth-child(2) {
        //@include flex;
        //flex-direction: column;
        //justify-content: flex-start;
        padding: 0 16px 16px 16px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 8px;

        @media (max-width: $size-media-mobile) {
            overflow: scroll;
            @include justifycontentsb;
        }

        & > section {
            display: block;
            margin-top: 4px;
            i {
                inline-size: max-content;
                padding-right: 4px;

                &:not(:last-of-type):not(:first-of-type)::after {
                    content: ",";
                }
            }
        }

        & > header {

            & > * {
                display: inline-block;
            }

            & > a {
                max-width: 80%;
            }

            & > img {
                height: 32px;
                float: right;
            }
        }
        /*@media (max-width: $size-media-mobile2) {
            &>section {
                display:none;
            }
        }*/
        & > header {
            @include justifycontentsb;
        }
    }
}

article.recipe-creator {

    .col {
        @include flex;
        flex-direction: column;

        img {
            max-width: 100px;
        }
    }

    form {
        background-color: white;
        border: 0;


        & > section {
            @include flex;
            @include justifycontentsb;

            @media (max-width: $size-media-mobile) {
                flex-direction: column;
            }

            &:first-of-type {
                @include alignitemscenter;

                @media (min-width: $size-media-mobile) {
                    & > section {
                        max-width: 33%;
                    }
                }
            }

            & > section {
                @include flex;
                flex-direction: column;

                @media (min-width: $size-media-mobile) {
                    width: 50%;
                }

                div {
                    @include flex;

                    @media (max-width: $size-media-mobile) {
                        @include alignitemscenter;
                        flex-direction: column;
                    }

                    &.time {
                        input {
                            max-width: 60px;
                            $border-width: 1px;
                            margin-left: -$border-width;
                            border-radius: 0;
                        }
                    }


                    h5 {
                        font-weight: 100;
                    }
                }

                &.avatar > div, input, textarea {
                    @include rounding;
                    border: 1px solid $color-border;
                    max-width: 100%;
                }

                &.avatar > div {
                    @include alignitemscenter;

                    & > input {
                        border-left: 0;
                        border-right: 0;
                        border-top: 0;
                    }
                }
            }

            h4 {
                margin-bottom: 8px;
                margin-top: 8px;
            }

            input[type="submit"] {
                margin-left: auto;
                margin-right: auto;

                @media (min-width: $size-media-mobile) {
                    width: 50%;
                }

                margin-bottom: 8px;
            }
        }
    }
}

article.recipe-view {

    div.recipe-avatar {
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        @include rounding;
    }

    & > section, header {
        @include flex;
        flex-direction: column;
        @include alignitemscenter;
        color: $color-content-text;

        & > * {
            @include line-spacing;
        }

        & > section.time {
            @include flex;
            @include alignitemscenter;
            justify-content: center;
            width: 50%;

            img {
                height: $size-h3;
            }

            & > * {
                margin-right: 4px;
            }
        }

        .ingredient {
            width: 60%;
            @include flex;
            @include justifycontentsb;

            & > span:first-of-type::first-letter {
                text-transform: uppercase;
            }

            & > div {
                flex: 1;
                border-bottom: 1px $color-border solid;
                margin: 0px 8px;
            }
        }

        &.instruction {
            img {
                @media (max-width: $size-media-mobile) {
                    max-height: 80%;
                    max-width: 90%;
                }

                max-height: 50%;
                max-width: 50%;
                display: block;
                margin: 10px auto;
                border: 4px $color-border solid;
                @include rounding;
            }
        }
    }
}
