@import 'vars/_palette.scss';

::-webkit-scrollbar-track {
    border: 2px solid $color-border;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid $color-border;
    border-bottom-color: white;
    border-top-color: white;
    background-color: $color-scroll;
}

::-webkit-scrollbar {
    width: 8px;
}
