@import 'palette.scss';

/*Адское зануление*/
body, fieldset, output, article {
    margin: 0;
    padding: 0;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header, footer {
    background: $primary-color;
    color: $primary-color-text;
}

body {
    & > header, & > footer {
        height: 3.5em;
    }

    & > article {
        display: flex;


        section:nth-child(even) {
            flex: 3;
        }

        section:nth-child(odd) {
            flex: 1;
            background-color: $primary-color-light;
        }
    }
}

article.inventory {
    header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $divider-color;

        fieldset {
            border: 0;
        }
    }

    ul {
        list-style-type: none;
        list-style-position: inside;
        padding-left: 0;

        fieldset {
            border-radius: 5px;
            background-color: $primary-color;
            color: $primary-color-text;
            margin: 5px 15px 5px 15px;

            output {
                padding-right: 30%;
                border-right: 1px solid $primary-color-text;
            }
        }
    }
}
