@import 'vars/_mixins.scss';
@import 'vars/_palette.scss';
@import 'vars/sizes.scss';
@import '_scroll.scss';
@import 'inventory';
@import 'recipe';
/*Адское зануление*/
body, fieldset, input, output, article, section, footer, header, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    @include main-font-family;
    overflow: visible;
    //Цвета/всякие штуки
    & > header, & > footer {
        background: $color-header-background;
        color: $color-header-text;
        height: $size-header-height;
        @include alignitemscenter;

        a {
            color: inherit;
            text-decoration-line: inherit;
        }

        & > section {

            input[type="text"], button {
                font-size: $size-h2;
                font-weight: 500;
                color: $color-header-text;
            }
        }
    }
    //Разметка сетки
    & > header, & > footer, & > article {
        @include flex;
        @include justifycontentsb;

        @media (max-width: $size-media-mobile) {
            flex-direction: column;
            @include alignitemscenter;
        }

        & > section:nth-child(odd) {
            max-width: 25%;
            flex: 1 1 auto;

            @media (max-width: $size-media-mobile) {
                max-width: 80%;
            }

            nav {
                @include flex;
                flex-direction: column;
            }
        }

        & > section:nth-child(even) {
            flex: 1 1 auto;
            max-width: 50%;

            @media (max-width: $size-media-mobile) {
                max-width: 80%;
                min-width: 80%;
                order: 3;
            }
        }

        & > section:first-child {
            padding-right: $margin-main-side;
            padding-left: $margin-main-side;
            min-width: 320px;

            @media (max-width: $size-media-mobile) {
                order: 2;
                padding-right: 0;
                padding-left: 0;
                min-width: 80%;

                &.logo {
                    padding-top: 4px;
                    min-width: 0;
                }
            }
        }

        & > section:last-child {
            padding-left: $margin-main-side;
            padding-right: $margin-main-side;

            @media (max-width: $size-media-mobile) {
                order: 1;
            }

            * {
                float: right
            }
        }
    }

    & > article {
        max-height: 91vh;
        overflow: auto;
        padding-top: $margin-main-side/2;
        //margin-top: $margin-main-side/2;
    }
}


    .fieldform {
        @include flex;
        justify-content: flex-end;
        @include alignitemscenter;

    * {
        &:first-child {
            flex: 5;
        }

        &:not(:first-child) {
            flex: 2 25px;
            margin-left: 12px;
        }

        &[type="text"], &[type="number"] {
            min-width: 0;
            width: 100%;
        }

        &[type="image"] {
            max-width: 25px;
            max-height: 25px;
        }
    }


    form > & {
        @include line-spacing;
    }
}

button, input {
    border: 0;
    @include main-font-family;
    background-color: inherit;
    color: $color-input-text;
}

input {
    &[type="submit"] {
        @include rounding;
        margin: 16px 0px 16px 0;
        background-color: $color-button-background;
        color: $color-button-text;
        height: 40px;
        font-size: $size-h3;
        font-weight: bold;
    }

    &[type="text"], &[type="number"] {
        color: $color-input-text;
        border-bottom: 2px solid $color-input-text;
        padding-bottom: 4px;
        font-weight: lighter;
        font-size: $size-h3;
    }
}

h {
    &1 {
        font-size: $size-h1;
        font-weight: lighter;
    }

    &2 {
        font-size: $size-h2;
        font-weight: bold;
    }

    &3 {
        font-size: $size-h3;
        font-weight: bold;
    }

    &4 {
        font-size: $size-h4;
        font-weight: bold;
    }

    &5 {
        font-size: $size-h5;
        font-weight: bold;
    }
}

.error {
    background-color: $color-error-background;
    color: $color-error-text;
    font-size: $size-h4;
    @include rounding;
    text-align: center;
}

:not(img).clickable {
    background-color: $color-header-background*2;
    color: $color-header-text;
    @include rounding;
    text-align: center;

    @media (max-width: $size-media-mobile) {
        font-size: $size-h2;
    }

    margin-bottom: 4px;
    padding: 4px;
}

.clickable {
    cursor: pointer;
    border: 0;
    text-decoration: none;
}