@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<article class="inventory">
    <header>
        <input type="submit" name="find_recept_by_ingr" value="Найти рецепты!" />
        <fieldset>
            <legend>Мой инвентарь</legend>
            <input type="text" name="ingredient_name" placeholder="Ингредиент" required="required" />
            <input type="number" name="ingredient_count" placeholder="Количество" required />
            <input type="button" name="add_ingredient" value="+" id="buttonAddIngridient" />
        </fieldset>
    </header>
    <ul>
        <li>
            <fieldset>
                <output name="ingredient_name">Арбуз</output>
                <output name="ingredient_count">10</output>
            </fieldset>
        </li>
    </ul>
</article>