<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Craft Book</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/craftbook.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="~/lib/craftbook.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <header>
        <section class="logo"><h2>CraftBook</h2></section>
        <section>
            <div class="search-string">
                <form asp-controller="Recipes" asp-action="SearchByString">
                    <div class="fieldform">
                        <input type="text" name="searchString" required placeholder="Ищем рецепт..."/>
                        <input type="image" src="/images/search/white.svg"/>
                    </div>
                </form>
            </div>
        </section>
        <section>
            <!--Ссылка?-->
            <button>Войти</button>
        </section>
    </header>
    <article>
        <section>
            <partial name="_InventoryPartial" />
        </section>
        <section>
            @RenderBody()
        </section>
        <section>
            <a asp-controller="Recipes" asp-action="Create">Создать рецепт</a>

        </section>
    </article>
    <footer>
        <p>&copy; 2018 - Craft Book</p>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </nav>
    </footer>




    @RenderSection("Scripts", required: false)
</body>
</html>