@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p>Craftbook — это сервис, подобный электронной поваренной книге. 
    Но, в отличие от неё, он не ограничен рецептами еды и поможет сделать что угодно из ингредиентов,
    которые уже имеются у вас в наличии.</p>
<address>
    <strong>Github:</strong> <a href="https://github.com/SID37/CraftBook">https://github.com/SID37/CraftBook</a>
</address>
<script>new Inventory();</script>