@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<address>
    <strong>Github:</strong> <a href="https://github.com/SID37/CraftBook">https://github.com/SID37/CraftBook</a>
</address>
