@{
    ViewData["Title"] = "Home Page";
}

<div class="description">
    <p>Craftbook — это сервис, подобный электронной поваренной книге. 
        Но, в отличие от неё, он не ограничен рецептами еды и поможет сделать что угодно из ингредиентов,
        которые уже имеются у вас в наличии.</p>
</div>
<div class="search-string">
    <form>
        <input type="text" name="search_string" required placeholder="Что хотим приготовить..." />
        <img src="images/filter.svg" />
        <img src="images/search.svg" />
    </form>
</div>
<article class="recipe_list">
    
</article>