@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Craft Book</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Ура, у нас теперь есть сайтик!</h2>
        <p>
            Теперь надо его делать...
        </p>
    </div>
    <div class="col-md-6">
        <h2>Описание сайта:</h2>
        <p>Описание будет когда будет сайтик</p>
        <p>А сайтик будет когда мы его сделаем</p>
        <p>А сделаем мы его когда будет описание того, что делать</p>
    </div>
</div>